__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.idea/
.vscode/
.DS_Store
*.log
*.tmp
*.temp
someDataCz/checkpoint-320/adapter_model.safetensors
someDataCz/checkpoint-320/optimizer.pt
